<header class="header">
  <div class="header__container">
    <a href="index.html" class="header__logo">
      <img src="images/icons/logo.svg" alt="Header logo">
    </a>
    <nav class="header__nav">
      <a href="#" class="header__link">Services</a>
      <a href="#" class="header__link">Industries</a>
      <a href="#" class="header__link">Case Studies</a>
      <a href="#" class="header__link">Technologies</a>
      <a href="#" class="header__link">About Us</a>
      <a href="#" class="header__link">Insights</a>
    </nav>
    <button data-move=".header__nav" data-breakpoint="992" class="header__button button">Contact us</button>
    <div class="header__burger">
      <span></span>
    </div>
  </div>
</header>