@use 'variables' as *;
@use 'mixins' as *;


.cards {
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &>p {
            max-width: 830px;
            text-align: center;
        }
    }

    &__items {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        @media (max-width: 768px) {
         grid-template-columns: auto;   
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 40px 50px;
        border: 1px solid #626262;
        border-radius: 15px;
        transition-duration: $transitionDuration;

        svg {
            color: #1377FE;
        }

        &:hover {
            background-color: #1377FE;
            border: 1px solid #1377FE;
            color: #fff;

            svg {
                color: #fff;
            }

            span,
            p {
                color: #fff;
            }
        }

        &:first-child {
            background-color: #1377FE;
            border: 1px solid #1377FE;
            color: #fff;

            svg {
                color: #fff;
            }

            span,
            p {
                color: #fff;
            }

            &:hover {
                background-color: #fff;
                border: 1px solid #626262;
                color: $fontColor;

                svg {
                    color: #1377FE;
                }

                span {
                    color: #090707;
                }
            }
        }

        @media (max-width: 992px) {
            align-items: flex-start;
            gap: 20px;
            padding: 20px;
        }

        @media (max-width: 768px) {
            align-items: center;
            gap: 40px;
            padding: 40px;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }
    }

    &__icon {
        width: 74px;
        min-width: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__content {
        display: flex;
        flex-direction: column;

        span {
            display: block;
            color: #090707;
            font-size: 20px;
            font-weight: 700;

            @media (max-width: 992px) {
                font-size: 18px;
            }
            
        }
    }

    &__without-border {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: flex-start;
        @media (max-width: 992px) {
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        @media (max-width: 576px) {
            grid-template-columns: auto;
        }
    }

    &__item--without {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        span {
            font-size: 20px;
            font-weight: bold;
            color: #090707;
        }
    }

    &__color {
        h2, p {
            align-items: flex-start;
            text-align: left;
            width: 100%;
            max-width: 100%;
        }

        &-items {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            @media (max-width: 992px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 576px) {
                grid-template-columns: auto;
            }
        }

        &-item {
            border-radius: 16px;
            padding: 35px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            span {
                @include adaptiveValue('font-size', 24px, 18px);
                font-weight: bold;
                color: #fff;
            }
            p, a, span {
                color: #fff;
                text-decoration: none;
                transition-duration: $transitionDuration;
            }
            a {
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 15px;

                &:hover {
                    color: #fff;
                    text-decoration: underline;
                    span {
                        padding-left: 10px;
                    }
                }
            }
        }

        &-red {
            background-color: #FF8B7B;
        }
        &-blue {
            background-color: #1377FE;
        }
        &-green {
            background-color: #15AD9B;
        }
    }
}