@use 'mixins' as *;

.price {
    padding: 0 15px;

    &__container {
        max-width: 1140px!important;
        background-color: #1377FE;
        color: #fff;
        border-radius: 16px;
        padding: 60px 100px!important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        @media (max-width: 992px) {
            padding: 34px!important;
            gap: 60px;
        }

        @media (max-width:768px) {
            flex-direction: column;
            gap: 30px;
            align-items: center;
            text-align: center;
        }

        @media (max-width: 576px) {
            padding: 15px;
        }
    }

    &__banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        letter-spacing: 2px;
        font-size: clamp(30px, 2vw, 24px);

        span {
            font-size: clamp(78px, 2vw, 48px);
        }
    }

    &__content {
        max-width: 500px;
        span {
            font-weight: bold;
            font-size: clamp(30px, 2vw, 24px);
            display: block;
            margin-bottom: 10px;
        }
    }


}