@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'footer';
@use 'hero';
@use 'partners';
@use 'cards';


// Підключення стилів аккордіону
// @use 'accordion';

// Підключення стилів табів
// @use 'tabs';

// Підключення стилізації модальних вікон та поп-апів
// @use 'modal';

// За потреби можна підключати анімації за клосом
// @use 'animation';

// Для стартових налаштувнань теми
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    background-color: $bgColor;
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
}


.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}

// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    @media (max-width: 992px) {
        margin: 20px 0;
    }
}

// Застосування стилів для посилання: колір, час анімації, активний стан.
a {
    color: $linkColor;
    text-decoration: none;
    transition-duration: $transitionDuration;
}

a:hover {
    color: $linkHoverColor;
}

a:active {
    color: $activeColor;
}

// Застосування стилів для кнопкки з класом .button
.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonBgColor;
    transition-duration: $transitionDuration;
    color: $buttonFontColor;
    padding: $buttonPaddings;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-family: "Poppins", serif;
}

.button--big {
    padding: 20px 40px;
    font-size: 18px;
}

.button:hover {
    opacity: .5;
}

.button:active {
    opacity: .5;
}

.button--white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition-duration: $transitionDuration;
    color: #1377FE;
    padding: $buttonPaddings;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-family: "Poppins", serif;
    text-transform: uppercase;
    font-size: 18px;
}

.button--100 {
    width: 100%;
}

.button--white:hover {
    opacity: .5;
}

.button--white:active {
    opacity: .5;
}

// Загальні стилі для списків
ol, ul {
    padding-left: 20px;
    li:not(:last-child) {
        padding-bottom: 15px;
    }
}

h1 {
    @include adaptiveValue('font-size', 50px, 10px);
}

h2 {
    @include adaptiveValue('font-size', 48px, 22px);
    color: #090707;
}
